@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Playfair Display', serif; */
/* font-family: 'Poppins', sans-serif; */

/* navbar css */
.navbar {
    font-family: 'Poppins', serif;
    font-size: 17px;
    line-height: 26px;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px gray;
    --webkit-box-shadow: 0 8px 6px -6px gray;
    border-bottom: 0.5 solid gray !important;
}

.nav-link {
    font-weight: 300 !important;
}

.active {
    border-bottom: 1px solid #000 !important;
}

.navbar-brand {
    font-family: 'roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
}

/*  page not found css */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: nomal;
}

.pnf-btn {
  color: #000;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

/* footer css*/
.footer {
    color: white;
    background-color: #000;
    padding: 25px;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}

/* contact us */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* register page css */
.register {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vh;
  height: 55vh;
  flex-direction: column;
  margin: 32px auto;
  border-radius: 50px;
  box-shadow: #837474 0px 0px 10px 0px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vh;
  height: 40vh;
  flex-direction: column;
  margin: 32px auto;
  border-radius: 50px;
  box-shadow: #837474 0px 0px 10px 0px;
}

.form-control {
  width: 400px;
  margin: 10px;
  box-shadow: #5e5d5d 0px 0px 10px 0px;
}

.backToLogin:hover {
  color: #1900ff;
  text-decoration: 'underline',
}

.product-link {
  text-decoration: none !important;
  color: #000 !important;
}
